<h2>Promise Examples</h2>

<div ng-controller="PeopleGathererController as vm">

  <p>People IDs: <span ng-bind="vm.peopleIdList | json"></span></p>

  <p>
    <input ng-model="vm.personId">
    <button ng-click="vm.addPersonId()">Add ID</button>
  </p>

  <p><button ng-click="vm.gatherPeople()">Gather People</button></p>

  <p>People:</p>

  <p ng-repeat="person in vm.allPeople">
    <img
      style="width: 30px; margin-right: 10px; vertical-align: middle;"
      ng-src="{{ person.avatar }}"
    >
      {{ person.firstname }} {{ person.lastname }}
  </p>

</div>
<!--
<pre ng-bind="vm.person1 | json"></pre>
<pre ng-bind="vm.person2 | json"></pre>
-->

