<h2>Service Examples</h2>

<div ng-controller="CompaniesController as vm"
  style="border: 3px solid purple; padding: 10px; margin: 10px;"
>
  <p>
    Select Company:
    <select
      ng-options="company.id as company.name for company in vm.companies"
      ng-model="vm.companyId"
    ></select> ID = {{ vm.companyId }}
  </p>

  <p>
    <button ng-click="vm.getSingleCompany()">Load</button>
  </p>
  
  <p>Company name: <input ng-model="vm.singleCompany.name"></p>
  <p>Catchphrase: <input ng-model="vm.singleCompany.catchphrase" style="width: 50%"></p>

  <p><button ng-click="vm.saveChanges()">Save Changes</button></p>

  <p>Status: {{ vm.message }}</p>
  
  <pre ng-bind="vm.singleCompany | json"></pre>

  <!--<pre ng-bind="vm.companies | json"></pre>-->

</div>


<div ng-controller="PeopleController as vm">

  <pre ng-bind="vm.singlePerson | json"></pre>

  <p><button ng-click="vm.changeSomeDetails()">Change stuff</button></p>

  
  <img ng-repeat="person in vm.people"
    ng-src="{{ person.avatar }}"
    title="{{ person.firstname }}"
  >

  <!--<pre ng-bind="vm.people | json"></pre>-->

</div>





<div ng-controller="SimpleMathExampleController as vm"
  style="border: 3px solid navy; padding: 10px; margin: 10px;"
>
  <p>First number:  <input ng-model="vm.firstNumber"></p>
  <p>Second number: <input ng-model="vm.secondNumber"></p>

  <p>Sum: {{ vm.sum }}</p>

  <hr>
  
  <p>Number list: {{ vm.numberList }} -- Total: {{ vm.listTotal }}</p>

  <p>
    New number: <input ng-model="vm.newNumber">
    <button ng-click="vm.pushNumber(vm.newNumber)">Append</button>
  </p>

  <p><button ng-click="vm.calculate()">Calculate All</button></p>
</div>

<div ng-controller="AlphaController as vm" style="border: 3px solid red; padding: 10px; margin: 10px;">

  <p>Application name: {{ vm.appName }}</p>

  <pre ng-bind="vm.employeeList | json"></pre>
  
</div>

<div ng-controller="BetaController as vm" style="border: 3px solid green; padding: 10px; margin: 10px;">
  
  <button ng-click="vm.showValues()">Show Constants</button>
  <button ng-click="vm.addNewEmployee()">Add New Employee</button>
  
</div>

