<h2>Controller Examples</h2>

<div ng-controller="FirstController as outer"
  style="padding: 20px; margin: 20px; border-radius: 10px; border: 3px solid red;"
>

  <button ng-click="outer.sayHello()">Say Hello</button>
  
  <p>Original firstname: <input ng-model="firstname"></p>

  First name: <input ng-model="outer.firstname">

  <div ng-controller="SecondController as inner"
    style="padding: 20px; margin: 20px; border-radius: 10px; border: 3px solid green;"
  >

    <p>Original firstname: <input ng-model="firstname"></p>

    <p>First name (outer): <input ng-model="outer.firstname"></p>
    <p>First name (inner): <input ng-model="inner.firstname"></p>

  </div>

</div>



