<h2>Watch and Digest Cycle Examples</h2>

<p>Button: <button ng-click="vm.doAThing()">Do something</button></p>

<p>First name:  <input ng-model="vm.person.firstname"></p>
<p>Last name:   <input ng-model="vm.person.lastname"></p>

<p>Zip:         <input ng-model="vm.person.zip"></p>
<p>City:        <input ng-model="vm.person.city"></p>
<p>State:       <input ng-model="vm.person.state"></p>

<p>Phone:       <input ng-model="vm.person.phone.number"></p>

