<!doctype html>
<html ng-app="sandbox">

  <head>
    <title>Angular Boot Camp Demos</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllerExamples/controllerExamples.js"></script>
    <script src="app/watchExamples/watchExamples.js"></script>
    <script src="app/serviceExamples/serviceExamples.js"></script>
    <script src="app/promiseExamples/promiseExamples.js"></script>
    <script src="app/directiveExamples/directiveExamples.js"></script>
  </head>

  <body ng-controller="MainController as vm">
  
    <h1>{{ vm.appName }}</h1>

    <div ng-view></div>

  </body>

</html>
