<div style="border: 3px solid navy; padding: 10px;">

  <p>Company Name:</p>
  <p><input ng-model="vm.company.name" style="width: 90%;"></p>

  <button ng-click="expanded = !expanded">{{ expanded ? 'Hide' : 'Show' }} Address</button>

  <div ng-show="expanded">
    <p>Street:</p>
    <p ng-hide="vm.isEditable">{{ vm.company.address.street }} </p>
    <p ng-show="vm.isEditable"> <input ng-model="vm.company.address.street"></p>
  </div>

</div>

