<div style="border: 3px solid green;">

  <p>
    First name: <input ng-model="dude.firstname">
    Last name: <input ng-model="dude.lastname">
  </p>

  <button ng-click="expanded = !expanded">toggle address</button>

  <div ng-show="expanded">
    <p>Address:</p>
    <p>Street:</p>
    <p ng-hide="editing">{{ dude.address.street }} </p>
    <p ng-show="editing"> <input ng-model="dude.address.street"></p>
  </div>

</div>

