<h2>Directive Examples</h2>


<abc-company company="vm.exampleCompany" editing="true"></abc-company>

<hr>

<button ng-click="vm.editable = !vm.editable">Toggle Editing</button>

<abc-person
  dude="vm.person"
  editing="vm.editable"
></abc-person>

<hr>

<pre ng-bind="vm.person | json"></pre>





<input ng-model="vm.departmentName">

<abc-logo dept="{{ vm.departmentName }}">
  We are so great!
</abc-logo>

